@import url("styleNull.css");

/* PAGE */

/* WRAPPER */

.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

/* CONTAINER */

.container {
  max-width: 1516px;
  margin: 0 auto;

  padding: 10px;
}

/* MAIN */

.main {
  flex: 1 1 auto;
  margin-bottom: 100px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  max-width: 70%;
  height: 300px;
  border: 1px solid #000;
  border-radius: 10px;
}

/* ARTICLE */

.article {
  display: flex;
  flex-grow: 1;

  max-width: 100em;
}
.article__img {
  min-width: 64px;
  min-height: 64px;

  background-color: rgb(180, 180, 180);

  margin-right: 15px;
}
.article__list {
   margin-right: 15px;
}
.article__item {
}
.article__btn {
}
.edit__btn,
.remove__btn {
  border-radius: 5px;
  width: 150px;
  height: 35px;
}

.edit__btn {
  margin-right: 15px;
}
.remove__btn {
}

.text {
  display: none;
}

/* FOOTER */

.footer {
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  max-width: 35%;
  height: 100px;

  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 30px;
}

.button__add,
.button__remove {
  width: 150px;
  height: 35px;
  border-radius: 5px;
}
.button__add {
}
.button__remove {
}
